*{
    background-color: rgb(68, 68, 255);
    color: white;
}

header{
    background-image: url('assets/images/1597661a-daec-4c27-b928-c32b4ef7d811.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.first-text{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .btn-submit:hover {
    background-color: #45a049;
  }

  #last-name{
    /* background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100); */
    background-color: rgb(153, 0, 255);
  }

  #first-name{
    /* background-color: white; */
    background-color: rgb(153, 0, 255);
  }

  #data{
    /* background-color: white; */
    background-color: rgb(153, 0, 255);
  }
