*{
    /* background-color: rgba(0, 0, 0, 0.2); */
    color: orangered;
    
} 

header{
    /* background-image: url('assets/images/1597661a-daec-4c27-b928-c32b4ef7d811.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover; */
    margin: 0px;
    padding: 0px;
}

.first-text{
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px; 
}

body {
  background-image: url('assets/images/1597661a-daec-4c27-b928-c32b4ef7d811.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container {
  display: flex;
  justify-content: space-between;
  /* padding-left: 9px; */

  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.form-group {
    margin-bottom: 20px;
    padding-right: 10px;
    margin-right: 15px;
    /* background-color: rgba(0, 0, 0, 0.2); */
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .btn-submit {
    display: flex;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .btn-submit:hover {
    background-color: #45a049;
  }

  #last-name{
    /* background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100); */
    background-color: #444444;
  }

  #first-name{
    /* background-color: white; */
    background-color: #444444;
  }

  #data{
    /* background-color: white; */
    background-color: #444444;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .btn:hover {
    background: linear-gradient(to bottom right, rgb(253, 17, 17), #ff5100);
  }
