@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url('assets/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
       url('assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AvenirNextCyr-Regular', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;

  margin: 0px;
  padding: 0px;
  background-color: #CECECE;
}

header {
  background-image: url('http://img.geliophoto.com/biysk/09_biysk.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* add styles for background image */

  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  /* background-color: rgba(18, 18, 18, 0.8); */
}

nav {
  /* add styles for navigation */
  /* background-color: rgba(18, 18, 18, 0.7); */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 50px;
  /* add styles for list */
  flex-direction: row;
  /* justify-content: space-around; */
}

ul {
  margin: 0;
}

li {
  /* add styles for list item */
  list-style: none;
  margin-right: 25px;
}


.menu-item {
  position: relative;
  text-decoration: none;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover::after {
  transform: scaleX(1);
}


a {
  /* add styles for link */
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

main {
  /* add styles for main */
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  /* add styles for main content */
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}


h2 {
  /* add styles for heading */
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* add styles for cards */
}

.card {
  background: linear-gradient(to bottom right, #000000, #ffffff);
  border-radius: 40px;
  margin: 0 10px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  text-align: center;
  /* add styles for card */
  box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);

  color: white;
  margin-top:  12px;
transition: all 0.3s ease-in-out;
transform: translateY(0px);
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.card-alert {
  padding: 25px;
  border-radius: 25px;
  background-color: rgb(177, 176, 176);
  box-shadow: 2px 2px 10px 0px rgba(18, 18, 18, 0.3);

  font-size: 28px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
}

.cardOne {flex: 1;}
.cardTwo {flex: 1;}
.cardThree {flex: 1;}
.card-alert{flex: 1;}

button {
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bg-blue {
  background-color: #2cb1d6;
}

.btn-main {
  transition: all 0.4s ease-in-out;
  transform: scale(1);
  font-size: 20px;
}

.btn-main:hover {
  transform: scale(1.1);
}

hr {
  margin-top: 25px;
  /* margin-bottom: 15px; */
  /* color: #2cb1d6; */
  /* border-color: #2cb1d6; */
  width: 50%;
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
}

.dates {
  text-shadow: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: solid white;
  background-color: rgb(177, 176, 176);
  border-radius: 25px;
}

.bold-blue-text {
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  /* text-decoration: underline; */
}

.bold-red-text {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}


@media (max-width: 768px) {
  .card {
    width: 40%;
    margin-bottom: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    height: 190px;
    /* add styles for list */
  }

  li {
    list-style: none;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  header {
    height: 35vh;
  }
}

#scroll-to-top {
position: fixed;
bottom: 20px;
right: 20px;
width: 50px;
height: 50px;
border: none;
background-color: #747575;
border-radius: 50%;
display: none;
}

#scroll-to-top.show {
display: flex;
align-items: center;
justify-content: center;
box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

#scroll-to-top:hover {
background-color: #296eb7;
cursor: pointer;
}

